.check{
    background-color: burlywood;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width:65%;
    margin: auto;
    border: solid 10px blanchedalmond;
    border-radius: 10px;
}